closures.playground/contents.xcplayground
closures.playground/playground.xcworkspace/contents.xcworkspacedata
closures.playground/playground.xcworkspace/xcuserdata/rosypatel.xcuserdatad/UserInterfaceState.xcuserstate
closures.playground/xcuserdata/rosypatel.xcuserdatad/xcschemes/xcschememanagement.plist
